<div class="reward-container">
  <span class="reward-comment">{{ page.reward_settings.comment }}</span>
  <button class="reward-btn">
    {{ __('reward.donate') }}
  </button>
  <div class="post-reward">

    {%- for name, image in theme.reward %}
      {%- set builtin = ['wechatpay', 'alipay', 'paypal', 'bitcoin'] %}
      {%- set translation = __('reward.' + name) if builtin.includes(name) else name %}
      <div>
        <img src="{{ url_for(image) }}" alt="{{ author }} {{ translation }}">
        {%- if theme.reward_settings.display_bottom_words %}<span>{{ translation }}</span>{%- endif %}
      </div>
    {%- endfor %}

  </div>
</div>
