<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    {{ partial('_partials/head/head.njk', {}, {cache: theme.cache.enable}) }}
    {%- include '_partials/head/head-unique.njk' -%}
    <title>
      {% block title %}{% endblock %}
    </title>
    {{ partial('_third-party/analytics/index.njk', {}, {cache: theme.cache.enable}) }}
    {{- next_inject('head') }}
    <noscript>
      <link rel="stylesheet" href="{{ url_for(theme.css) }}/noscript.css">
    </noscript>
    <script src="/js/jquery.js"></script>
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>

  <body itemscope itemtype="http://schema.org/WebPage"{% if theme.motion.enable %} class="use-motion"{% endif %}>
    <div class="headband"></div>

    <main class="main">
      <header class="header" itemscope itemtype="http://schema.org/WPHeader">
        <div class="header-inner">
          {%- include '_partials/header/index.njk' -%}
        </div>
        {%- if theme.sidebar.display !== 'remove' %}
          {% block sidebar %}{% endblock %}
        {%- endif %}
      </header>

      {{ partial('_partials/widgets.njk', {}, {cache: theme.cache.enable}) }}

      <div class="main-inner {% block class %}{% endblock %}">
        {%- include '_partials/header/sub-menu.njk' -%}
        {% block content %}{% endblock %}
        {%- include '_partials/comments.njk' -%}
      </div>
    </main>

    <footer class="footer {%- if theme.footer.enable!=true %} hidden {%- endif %}">
      <div class="footer-inner">
        {%- include '_partials/languages.njk' -%}
        {{ partial('_partials/footer.njk', {}, {cache: theme.cache.enable}) }}
      </div>
    </footer>

    {{ partial('_scripts/index.njk', {}, {cache: theme.cache.enable}) }}
    {{ partial('_third-party/index.njk', {}, {cache: theme.cache.enable}) }}
    {{ partial('_third-party/statistics/index.njk', {}, {cache: theme.cache.enable}) }}

    {%- include '_third-party/math/index.njk' -%}
    {%- include '_third-party/quicklink.njk' -%}

    {{- next_inject('bodyEnd') }}
    {%- if theme.mouse.explode %}
      <script src="/js/mo.min.js"></script>
      <script>
        var burst1 = new mojs.Burst({
          left: 0,
          top: 0,
          radius: {
            5: 40
          },
          children: {
            shape: "circle",
            fill: [
              "red", "cyan", "orange"
            ],
            fillOpacity: .8,
            radiusX: 3.5,
            radiusY: 3.5
          }
        });
        document.addEventListener("click", function (a) {
          burst1
            .tune({x: a.pageX, y: a.pageY})
            .generate()
            .replay()
        })
      </script>
      <div data-name="mojs-shape" style="position: absolute; width: 0px; height: 0px; margin-left: 0px; margin-top: 0px; opacity: 1; left: 0px; top: 0px; transform: translate(909px, 1631px) rotate(0deg) scale(1, 1); transform-origin: 50% 50%;">
        <div data-name="mojs-shape" class="" style="position: absolute; width: 9px; height: 9px; margin-left: -4.5px; margin-top: -4.5px; opacity: 1; left: 50%; top: 50%; transform: translate(1e-06px, -40px) rotate(90deg) scale(0, 0); transform-origin: 50% 50%;">
          <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
            <ellipse rx="3.5" ry="3.5" cx="4.5" cy="4.5" fill-opacity="0.8" stroke-linecap="" stroke-dashoffset="" fill="red" stroke-dasharray="" stroke-opacity="1" stroke-width="2" stroke="transparent"></ellipse>
          </svg>
        </div>
        <div data-name="mojs-shape" class="" style="position: absolute; width: 9px; height: 9px; margin-left: -4.5px; margin-top: -4.5px; opacity: 1; left: 50%; top: 50%; transform: translate(38.0423px, -12.3607px) rotate(162deg) scale(0, 0); transform-origin: 50% 50%;">
          <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
            <ellipse rx="3.5" ry="3.5" cx="4.5" cy="4.5" fill-opacity="0.8" stroke-linecap="" stroke-dashoffset="" fill="cyan" stroke-dasharray="" stroke-opacity="1" stroke-width="2" stroke="transparent"></ellipse>
          </svg>
        </div>
        <div data-name="mojs-shape" class="" style="position: absolute; width: 9px; height: 9px; margin-left: -4.5px; margin-top: -4.5px; opacity: 1; left: 50%; top: 50%; transform: translate(23.5114px, 32.3607px) rotate(234deg) scale(0, 0); transform-origin: 50% 50%;">
          <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
            <ellipse rx="3.5" ry="3.5" cx="4.5" cy="4.5" fill-opacity="0.8" stroke-linecap="" stroke-dashoffset="" fill="orange" stroke-dasharray="" stroke-opacity="1" stroke-width="2" stroke="transparent"></ellipse>
          </svg>
        </div>
        <div data-name="mojs-shape" class="" style="position: absolute; width: 9px; height: 9px; margin-left: -4.5px; margin-top: -4.5px; opacity: 1; left: 50%; top: 50%; transform: translate(-23.5114px, 32.3607px) rotate(306deg) scale(0, 0); transform-origin: 50% 50%;">
          <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
            <ellipse rx="3.5" ry="3.5" cx="4.5" cy="4.5" fill-opacity="0.8" stroke-linecap="" stroke-dashoffset="" fill="red" stroke-dasharray="" stroke-opacity="1" stroke-width="2" stroke="transparent"></ellipse>
          </svg>
        </div>
        <div data-name="mojs-shape" class="" style="position: absolute; width: 9px; height: 9px; margin-left: -4.5px; margin-top: -4.5px; opacity: 1; left: 50%; top: 50%; transform: translate(-38.0423px, -12.3607px) rotate(378deg) scale(0, 0); transform-origin: 50% 50%;">
          <svg style="display: block; width: 100%; height: 100%; left: 0px; top: 0px;">
            <ellipse rx="3.5" ry="3.5" cx="4.5" cy="4.5" fill-opacity="0.8" stroke-linecap="" stroke-dashoffset="" fill="cyan" stroke-dasharray="" stroke-opacity="1" stroke-width="2" stroke="transparent"></ellipse>
          </svg>
        </div>
      </div>
    {%- endif %}
    <script>
      let themeTag = document.querySelector('style[is="theme"]');
      if (!themeTag) {
          themeTag = document.createElement('style');
          themeTag.setAttribute('is', 'theme');
          document.body.appendChild(themeTag);
      }
      $("#btn_darkmode").click(function () {
        $('#btn_darkmode').css('background-color','--opposite-color')
        var body = document.body;
        if (body.classList.contains('dark')) {
          document.body.classList.remove('dark');
          localStorage.setItem('dark', '0');
          themeTag.innerHTML='';
          return;
        } else {
          document.body.classList.add('dark');
          localStorage.setItem('dark', '1');
          themeTag.innerHTML=`:root {
              --body-bg-color: #22272e;
              --content-bg-color: #333;
              --card-bg-color: #4c4948;
              --text-color: #ccc;
              --blockquote-color: #bbb;
              --link-color: #ccc;
              --link-hover-color: #6db33f;
              --brand-color: #ddd;
              --brand-hover-color: #ddd;
              --table-row-odd-bg-color: #282828;
              --table-row-hover-bg-color: #363636;
              --menu-item-bg-color: #4c4948;
              --theme-color: #222;
              --opposite-color: #eee;
              --btn-default-bg: #222;
              --btn-default-color: #ccc;
              --btn-default-border-color: #4c4948;
              --btn-default-hover-bg: #666;
              --btn-default-hover-color: #ccc;
              --btn-default-hover-border-color: #666;
              --highlight-background: #1c1b1b;
              --highlight-foreground: #fff;
              --highlight-gutter-background: #323131;
              --highlight-gutter-foreground: #e8e8e8;
              color-scheme: dark;
          }`;
        }
      })
    </script>
  </body>
</html>