.back-to-top {
  background: 0 0;
  opacity: 1;
  bottom: $b2t-position-bottom;
  box-sizing: border-box;
  color: $b2t-color;
  cursor: pointer;
  left: $b2t-position-right;
  padding: 0 6px;
  position: fixed;
  transition-property: bottom;
  z-index: $zindex-3;

  #scrollpercent{
    color: #fff;
    background: #4d4646;
    width: 1.7rem;
    height: 1.7rem;
    display: block;
    vertical-align: middle;
    font-size: .8rem;
    line-height: 1.8rem;
    border-radius: 50%;
  }
  
  if (hexo-config('back2top.scrollpercent')) {
    width: initial;
  } else {
    width: 24px;

    span {
      display: none;
    }
  }

  &:hover {
    color: $sidebar-highlight;
  }

  &.back-to-top-on {
    bottom: $b2t-position-bottom-on;
  }

  +tablet-mobile() {
    left: $b2t-position-right-mobile;
    opacity: $b2t-opacity-hover;
  }
}
