.reward-container {
  margin: $post-card-margin;
  padding: 1em 0;
  text-align: center;

  .reward-comment {
    display: block;
    text-align: center;
    color: #878787;
    margin-bottom: 10px;
  }

  .reward-btn {
    height: 46px;
    width: 46px;
    line-height: 46px;
    cursor: pointer;
    border-radius: 50%;
    color: #fe5f55;
    font-size: $font-size-larger;
    font-weight: 600;
    background: #ffd5be;
    border: none;
    box-shadow: 0 4px 8px 0 rgb(255 213 190 / 40%);
  }
}

.post-reward {
  display: none;
  padding-top: 20px;

  &.active {
    display: block;
  }

  div {
    display: inline-block;

    span {
      display: block;
    }

    if (hexo-config('reward_settings.animation')) {
      &:hover span {
        animation: next-roll .1s infinite linear;
        // The animation may affect :hover of img in dark mode
        pointer-events: none;
      }
    }
  }

  img {
    display: inline-block;
    margin: .8em;
    max-width: 100%;
    width: 150px;
  }
}

@keyframes next-roll {
  from {
    transform: rotateZ(30deg);
  }

  to {
    transform: rotateZ(-30deg);
  }
}
