.post-body {
  font-family: $font-family-posts;
  word-wrap();

  +desktop-large() {
    font-size: $font-size-large;
  }

  +desktop() {
    text-align: unquote(hexo-config('text_align.desktop'));
  }

  +tablet-mobile() {
    text-align: unquote(hexo-config('text_align.mobile'));
  }

  h2, h3, h4, h5, h6 {
    padding-top: 1px;
    font-weight: 700;
    margin: 30px 0 15px;
    line-height: 1.5;
  }

  h2 {
    position: relative;
    margin-left: 19px;
    font-weight: 600;
    font-size: 1.1rem;

    &:before {
      content: "#";
      color: #6db33f;
      position: absolute;
      left: -.9em;
      top: -4px;
      font-size: 1.4em
    }
  }

  h3 {
    font-size: 1rem;

    &:before {
      font-family: FontAwesome;
      content: "\f02e";
      margin-right: .5rem;
      color: rgba(255, 153, 102, .8)
    }
  }

  h4 {
    font-size: .9rem;

    &:before {
      font-family: FontAwesome;
      content: "\f06c";
      margin-right: .5rem;
      color: #88cc2a
    }
  }

  h5 {
    font-size: .8rem;
  }

  h6 {
    font-size: .8rem;
  }

  .exturl .fa {
    font-size: $font-size-small;
    margin-left: 4px;
  }

  // For fancybox and pandoc

  .image-caption, img + figcaption, .fancybox + figcaption {
    color: $grey-dark;
    font-size: $font-size-small;
    font-weight: bold;
    line-height: 1;
    margin: -20px auto 15px;
    text-align: center;
  }

  iframe, img, video, embed {
    margin-bottom: 20px;
  }

  .video-container {
    height: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding-top: 75%;
    position: relative;
    width: 100%;

    iframe, object, embed {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  a {
    color: $green-grass;
    border-bottom: 1px dashed $green-grass;

    &:hover {
      color: $orange;
    }
  }
}
