.posts-expand .post-header {
  font-size: $font-size-large;
  margin-bottom: 60px;
  text-align: center;
  padding-top: 1.5rem;
}

.posts-expand .post-title {
  font-size: $font-size-larger;
  font-weight: normal;
  margin: initial;
  word-wrap();

  if (hexo-config('post_edit.enable')) {
    .post-edit-link {
      border-bottom: 0;
      color: $grey;
      float: right;
      font-size: $font-size-larger;
      margin-left: -1.2em;
      transition: color $transition-ease-in;

      +mobile-small() {
        margin-left: initial;
      }

      &:hover {
        color: $sidebar-highlight;
      }
    }
  }
}

.posts-expand .post-title-link {
	display: inline-block;
	position: relative;
  color: var(--link-color);
	border-bottom: none;
	line-height: 1.2;
	vertical-align: top

 &:hover {
    color: $text-hover-color
  }

  &:after,&:before {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s,opacity .2s;
    -moz-transition: -moz-transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s
  }

  &:after {
    margin-left: 10px;
    content: '🍔';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    -o-transform: translateX(-20px);
    transform: translateX(-20px)
  }

  &:focus::after,&:hover::after {
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
  }

  .fa-external-link-alt {
    font-size: $font-size-small;
    margin-left: 5px;
  }
}

.post-sticky-flag {
  display: inline-block;
  // Fix issue #80 #140
  margin-right: 8px;
  transform: rotate(30deg);
}

.posts-expand .post-meta-container {
  color: $grey-dark;
  font-family: $font-family-posts;
  font-size: $font-size-small;
  margin-top: 3px;

  .post-description {
    font-size: $font-size-small;
    margin-top: 2px;
  }

  time {
    // border-bottom: 1px dashed $grey-dark;
  }
}

// Flexbox layout makes it possible to reorder the child
// elements of .post-meta through the `order` CSS property
.post-meta {
  flex-wrap();

  .post-time{
    display: block;
    margin-bottom: -10px;
  }
}

// .post-meta-item exists in .post-meta and footer
:not(.post-meta-break) + .post-meta-item::before {
  content: '|';
  margin: 0 .5em;
}

.post-meta-item-icon {
  margin-right: 3px;
}

.post-meta-item-text {
  if (not hexo-config('post_meta.item_text')) {
    display: none;
  }
}

.post-meta-break {
  flex-basis: 100%;
  height: 0;
}
